body {
  background-image: url('felt.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.title {
  text-align: center;
  font-size: 2.7rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #CCFFCC55;
  margin-bottom: 15px;
}

.subtitle {
  text-align: center;
  font-size: 1.0rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #FFFFFFAA;
  margin-bottom: 40px;
}

.game {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-content: center;
  gap: 10px;
}

.cell,
.cell-x,
.cell-o {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  background-size: cover;
  border: 0;
  cursor: pointer;
}

.cell {
  border: solid 3px #FFFFFF44;
  border-radius: 10px;
}

.cell:hover {
  background-color: #FFFFFF22;
}

@keyframes expand {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.cell-x, .cell-o {
  animation: expand 0.25s ease-in-out forwards;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: not-allowed
}

.cell-x {
  background-image: url('tile_x.png');
}

.cell-o {
  background-image: url('tile_o.png');
}

.buttons {
  margin-top: 30px;
}

.buttons button, .outcome button {
  border: solid 3px #FFFFFF44;
  border-radius: 5px;
  background-color: transparent;
  font-size: 1.3rem;
  font-weight: bold;
  color: #FFFFFF44;
  margin: 0 10px 0 10px;
}

.buttons button:hover, .outcome button:hover {
  background-color: #FFFFFF22;
}

.outcome button {
  border: solid 3px #FFFFFF66;
  color: #FFFFFF66;
  margin-top: 15px;
  padding: 5px 10px 5px 10px;
  font-size: 1.0rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

.fade-out {
  animation: fadeOut 1s ease-in-out forwards;
}

.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000AA;
  animation: fadeIn 1s ease-in-out forwards;
}

.outcome {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 300px;
  height: 200px;
  background-image: url('felt.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 3px #FFFFFF77;
  border-radius: -15px;
  text-align: center;
  font-size: 1.3rem;
  font-family: serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: #FFFFFFAA;
  margin-top: 20px;
  white-space: pre-line;
  padding: 10px;
  animation: fadeIn 1s ease-in-out forwards;
}

.outcome-icon {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
